* {
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: filter 1s;
}
ol, ul {
	list-style: none;
}
a {
	color: #000;
}


/* DARK MODE */

.dark-mode {
  background-color: black;
  filter: invert(1) hue-rotate(180deg);
}

.undo-invert {
  transition: none;
  filter: invert(1) hue-rotate(180deg);
}

#dark-toggle {
  font-size: 2.5rem;
  width: 4.6rem;
  text-align: right;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  transition: 0.3s;
}

#dark-toggle:hover {
  font-size: 3rem;
}

/* TOP BAR */
h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 3rem 0rem;
  color: black;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
}

#main_logo {
  height: 40px;
}

nav {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-items {
  justify-self: flex-end;

  display: flex;
  font-size: 1.4rem;
  list-style: none;
}
.header-item {
  margin: 2rem;
}

.contact_btn-main {
  padding: 1.1rem;
  color: aliceblue;
  border: none;
  font-size: 1.4rem;
  width: 12rem;

  background-color: #6562cf;
}
.click-button a { 
	padding: 11px 21px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    background: -webkit-linear-gradient(#2FB8F4, #0B3F7A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.click-button a::before{
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding: 2px;
    border-radius: 5px;
	background: linear-gradient(to right, #2FB8F4, #0B3F7A);
	-webkit-mask: 
	   linear-gradient(#fff 0 0) content-box, 
	   linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}
.click-button a:hover{
	background: linear-gradient(to right,#2FB8F4,#0B3F7A);
	color: #fff;
	border-radius: 5px;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}


.contact_btn-main:hover {
  background-color: #4f4bae;
}

#hqube {
  margin-right: 0.4rem;
}

/* HERO SECTION */

.hero {
  height: 100vh;
  width: 60%;
  margin: auto;
  display: flex;
}
.hero-left {
  width: 60%;
}

.hero-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 560px;
  transition: none !important;
}
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.container {
  width: 80%;

  display: flex;
  flex-direction: column;
}

#hero-txt {
  line-height: 1.8;
  margin: 3.5rem 0;

  font-size: 1.4rem;
}
/* #LAPTOP{
    position: relative;

        animation: looper ease-in-out alternate-reverse infinite 1s;
} */

#RIGHT {
  animation: looper ease-in-out alternate-reverse infinite 1s;
}

#LEFT {
  animation: looper ease-in-out alternate-reverse infinite 0.6s;
}
@keyframes looper {
  from {
    transform: rotate(-0.4deg);
  }
  to {
    transform: rotate(0.4deg);
  }
}

/* SECTION 2 .services */

.services {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
/* SECTION 3 .works */


.services-right {
  width:60%;
  display: flex;
  justify-content:center;
  align-items: center;
}



.services-group{

  width:90%;
  display: grid;
  grid-template-columns: auto auto;
}


.service0{
  border-radius: 20px;
  
margin: 1rem;
cursor: pointer;
  padding:1rem  1rem;
  display: flex;
  /* justify-content:space-around;
   */

  transition :  0.7s;
}


.service0:hover{
transition:0.5s;

  /* box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.583); */
transform:scale(1.1)

}

.service0>i{
  font-size: 3.2rem;
  flex:1;

}



.service-text{

margin-left: 2rem;
}
h3{

font-size: 2rem;
margin-bottom: 1rem;
}

.section-header{
  margin: 3rem;
  text-align: center;

}
.service-des{
  /* margin: 1rem 0; */
  /* flex:1; */


  line-height: 1.7;

  font-size :1.2rem;
}



#animation-placeholder{
  width:80%;
  /* height: 200px; */


}

#animation-placeholder>img{

  height: 400px
}

/* #service1{
background-color: #9076ec;

}
#service2{background-color: #00bcc4;}
#service3{

background-color:#e45fff;

}
#service4{
  background-color: #ffbe80;
} */
#service1>i{
color: #8f76ec91;

}
#service2>i{color: #7cdde0;}
#service3>i{
color:#d58be3b6;

}
#service4>i{
color: #e7c3a1;
}

.works { 
  width: 80%;
  margin: auto;
  /* padding: 70px 0; */
  height: 100vh; 
 
  
}
.works-header{
text-align: center;
}


.works .cards { 
  display: flex;
	margin-top: 5rem;
	flex-wrap: wrap;
	justify-content: space-between;

}

.works .cards .card { 
  width: 23%;
	margin: 30px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;

}

.works .cards .card .img { 
 display: block;

}

.works .cards .card .img img { 
  display: block;
  width: 100%;
  height: 100%;
  
}

.works .cards .card .content { 
  margin-top: 30px;
}

.works .cards .card .content h5 { 
  font-size: 18px;
  font-weight: 600;

}

.works .cards .card .content p { 
  font-size: 14px;
  margin-top: 4px;
  font-weight: 500;
  color: #999;

}