/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}



.dark-mode {
    transition:filter 1s;
    background-color: black;
    filter: invert(1) hue-rotate(180deg);
}

.undo-invert {
    transition:none;
  filter: invert(1) hue-rotate(180deg);
}


#dark-toggle {

    font-size: 2.5rem;
    width: 4.6rem;
    text-align: right;
    border:none;
    outline:none;
    cursor: pointer;

    transition:0.3s;
}

#dark-toggle:hover{

    font-size:3rem;
   
}
h1 {
    font-weight: bold;
  font-size: 2rem;
  margin: 1rem 2rem;
  color: black;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
}

#main_logo {
  height: 40px;
}

nav {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-items {
  justify-self: flex-end;

  display: flex;
  font-size: 1.4rem;
  list-style: none;
}
.header-item {
  margin: 2rem;
}

.contact_btn-main{
  padding: 1.1rem ;
  color: aliceblue;
  border: none;
  font-size: 1.4rem;
  width: 12rem;

  background-color: #6562cf;
}
.contact{

    color:#6562cf;
    /* text-decoration: underline; */
    cursor: pointer;
    font-weight: 700;
}

.contact_btn-main:hover {
  background-color: #4f4bae;
}

#hqube {
  margin-right: 0.4rem;
}

.hero {
  height: 90vh;
  width: 60%;
  margin: auto;
  display: flex;
}
.hero-left {
  width: 60%;
}

.hero-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 560px;
}
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.container {
  width: 80%;

  display: flex;
  flex-direction: column;
}

#hero-txt {
    line-height: 1.6;
  margin: 3.5rem 0;

  font-size: 1.4rem;
}
